default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch("POSTGRES_HOST") { "localhost" } %>
  user: <%= ENV.fetch("POSTGRES_USER") { "" } %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD") { "" } %>
  timeout: 5000

development:
  <<: *default
  database: openbrewerydb_development

test:
  <<: *default
  database: openbrewerydb_test

production:
  url: <%= ENV['DATABASE_URL'] %>
